@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


.font-title {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
}

.font-menu {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.font-today {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.font-profile {
  font-family: 'Poor Story', cursive;
  font-size: 14px;
}