@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');


.menu-photo {
    text-align:center;
    width: 550px;
    height:450px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
}

.photo-title {
    background-color: rgb(214, 205, 205);

    padding: 0.5rem;
    margin-bottom: 0.5rem;

}

.photo-font {
    font-family: 'Gaegu', cursive;
}