body {
    background-color: #a3a3a3;
    background-size: 100px;
    background-image: url('../Cyworld-s-Mini-Homepy/images/pattern.png');

    /*position? 요소(태그)들의 위치 결정 */
    /*fixed? 화면을 기준으로 상대적인 위치 설정 (left,right,top,bottom)*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

.bookcover {
    background-color: #b4d1da;
        /*border? 선 너비, 선 모양, 선 색상*/
    border-radius: 9px; /*꼭짓점*/
    border : 1px solid #738186;
    width: 970px;
    height: 660px;
    margin: 100px auto;
    position: relative;
}

.bookdot {
    position: absolute;
    border-style: dashed;
    border-width: 2px; /*선 두께*/
    border-radius: 9px ; 
    border-color: white;
    left: 15px;
    right: 15px;
    bottom : 15px;
    top : 15px;

    padding: 15px;
}

.page {
    position: absolute;
    background-color: #eeeeee;
    border-radius: 9px;
         
    /*inline-block?inline 처럼 텍스트/콘텐츠 크기만큼 차지하되, width, height, margin, padding 도 설정 */
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;

    padding:18px;

    display: flex;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.today{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.text_red {
    color: red;
    font-size: 14px;
}



.colum1 {
    display: flex;
    flex-direction: column;
    flex : 0.4;
    flex-direction: column;
    justify-content: center;
    margin-right: 13px;
}
.row1 {
    flex: 1;
    text-align: center;

}
.row2 {
    flex: 20;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 9px;
}



.colum2 {
    display: flex;
    flex-direction: column;

    flex : 1;

    margin-left: 13px;
}
.row3 {
    flex: 1;
    text-align: left;
    font-size: 15px;
}

.row4 {
    flex: 20;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 9px;
}



.colum3 {    
    display: flex;
    flex-direction: column;
    flex : 0.15;
    border : 1px solid black;
}
