body {
    background-color: #a3a3a3;
    background-size: 100px;
    background-image: url('../Cyworld-s-Mini-Homepy/images/pattern.png');

    /*position? 요소(태그)들의 위치 결정 */
    /*fixed? 화면을 기준으로 상대적인 위치 설정 (left,right,top,bottom)*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

.bookcover {
    background-color: #b4d1da;
        /*border? 선 너비, 선 모양, 선 색상*/
    border-radius: 9px; /*꼭짓점*/
    border : 1px solid #738186;
    width: 970px;
    height: 660px;
    margin: 100px auto;
    position: relative;
}

.bookdot {
    position: absolute;
    border-style: dashed;
    border-width: 2px; /*선 두께*/
    border-radius: 9px ; 
    border-color: white;
    left: 15px;
    right: 15px;
    bottom : 15px;
    top : 15px;
}

.page {
    position: absolute;
    background-color: white;
    border: 3px solid #cccccc;
    border-radius: 9px;
         
        /*inline-block?inline 처럼 텍스트/콘텐츠 크기만큼 차지하되, width, height, margin, padding 도 설정 */
    display: inline-block; 
    padding: 10px; margin: 0 auto;
    width: 890px;
    height: 580px;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}
