body {
    background-color: #a3a3a3;
    background-size: 100px;
    background-image: url('../Cyworld-s-Mini-Homepy/images/pattern.png');

    /*position? 요소(태그)들의 위치 결정 */
    /*fixed? 화면을 기준으로 상대적인 위치 설정 (left,right,top,bottom)*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    	/** rem 단위 사용을 위한 기본 폰트 사이즈 설정  */
  font-size: 16px;
  }

.bookcover {
    background-color: #b4d1da;
        /*border? 선 너비, 선 모양, 선 색상*/
    border-radius: 9px; /*꼭짓점*/
    border : 1px solid #738186;
    width: 960px;
    height: 660px;
    margin: 100px auto;
    position: relative;
}

.bookdot {
    position: absolute;
    border-style: dashed;
    border-width: 2px; /*선 두께*/
    border-radius: 9px ; 
    border-color: white;
    left: 15px;
    right: 15px;
    bottom : 15px;
    top : 15px;

    padding: 15px;

  
}

.page {
    position: absolute;
    background-color: #eeeeee;
    border-radius: 9px;
         
    /*inline-block?inline 처럼 텍스트/콘텐츠 크기만큼 차지하되, width, height, margin, padding 도 설정 */
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;



    padding:15px;
    display: flex;

}




.profile-container {
    flex: 0.4;
    margin-right: 1.5rem;

    /** 내부 레이아웃을 위해 flex container로 설정  */
    display: flex;
    flex-direction: column;
  }
  
  .content-container {
    flex: 1;
  
    /** 내부 레이아웃을 위해 flex container로 설정  */
    display: flex;
    flex-direction: column;
  }
  
  .menu-container {
    flex: 0.15;
  
    /** 임시 CSS */
    border: 1px solid grey;
  }
  
  /** profile-container, content-container 컨테이너의 아이템 - header, box */
  .header {
    flex: 0.1;
  }
  
  .box {
    background-color: white;
    flex: 3;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
  }
  
  /** 미니홈피 이름, url 표시
    - 컨테이너 : .content-title
    - 아이템 : .content-title-name, .content-title-url 
   */
  .content-title {
    padding: 6px 0;
    display: flex;
  }
  
  .content-title-name {
    flex: 1;
  }
  
  .content-title-url {
    flex: 1;
  }

  /** 기타 CSS 속성 */
.profile-title {
    text-align: center;
    padding: 6px;
    font-size: 0.8rem;
  }
  
  .color-red {
    color: red;
  }